body {
  background-image: url(img/eduard-militaru-D5c_XKM2tkE-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head {
  text-align: center;
  font-size: 100px;
  color: white;
  margin: 100px;
  padding: 40px;
  border: 5px solid white;
  font-family: "Grechen Fuemen", cursive;
}
.blog1 {
  color: black;
  background-color: #fdf6f0;
  font-family: "Montserrat", sans-serif;
}
