body {
  grid-template: ;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  background-color: #d3ccb9fa;
}
.head {
  text-align: center;
  font-size: 150px;
  color: white;
  margin-top: 170px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px;
  padding: 50px;
  border: 7px solid white;
  font-family: "Playfair Display", serif;
}
.subhead {
  color: white;
  text-align: center;
  font-size: 70px;
  margin-bottom: 150px;
  font-family: "Shadows Into Light", cursive;
}
.blog1 {
  background-color: #6b705c;
  font-size: 55px;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}
.blogpost1 {
  border: 6px solid white;
  height: 475px;
  margin: 20px 15px;
  position: relative;
}
.blogpost1 img {
  position: absolute;
  width: 400px;
}
.blogpost2 {
  border: 6px solid white;
  height: 475px;
  margin: 20px 15px;
}
.blog2 {
  background-color: #6b705c;
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Architects Daughter", cursive;
}
.blogpost3 {
  border: 6px solid white;
  height: 475px;
  margin: 20px 15px;
}
.blog3 {
  background-color: #6b705c;
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Architects Daughter", cursive;
}
