body {
  grid-template: ;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  background-color: #d3ccb9fa;
}
.head {
  text-align: center;
  font-size: 150px;
  color: white;
  margin-top: 170px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px;
  padding: 50px;
  border: 10px solid white;
  font-family: "Playfair Display", serif;
}
.subhead {
  color: white;
  text-align: center;
  font-size: 70px;
  margin-bottom: 200px;
  font-family: "Shadows Into Light", cursive;
}
.top {
  background-color: #6b705c;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Architects Daughter", cursive;
  color: white;
}
.blogpost1 {
  padding-bottom: 350px;
  margin-bottom: 80px;
  margin-left: 300px;
  margin-right: 300px;
  background-image: url(img/hydrangea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.blogpost2 {
  padding-bottom: 350px;
  margin-bottom: 80px;
  margin-left: 300px;
  margin-right: 300px;
  background-image: url(img/succulent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.blogpost3 {
  padding-bottom: 350px;
  margin-bottom: 80px;
  margin-left: 300px;
  margin-right: 300px;
  background-image: url(img/daisies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.box {
  border: 15px double white;
}
p {
  position: absolute;
  text-align: center;
  font-size: 22px;
  background-color: white;
  padding: 100px;
  width: 400px;
  height: 30px;
  line-height: 30px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Architects Daughter", cursive;
}
.link {
  font-size: 20px;
}
